In [26]:
import pandas as pd
transaction_df = pd.read_csv('TokenAnalystData.csv', index_col=0, converters={'value':float})

In [32]:
address_df = transaction_df.groupby('from_address')['value'].agg(['min', 'max', 'mean'])
address_df.columns = ['min_value', 'max_value', 'mean_value']
address_df.head()

,min_value,max_value,mean_value
from_address,,,
0x00000a94230f3a5cd61bb0a3b39767e0684f7234,0.0,1.450000e+19,7.250000e+18
0x0000106e912ae7bb1e72e9d8ff76f6252376a60e,0.0,0.000000e+00,0.000000e+00
0x0000265868335a145c58a3fb25ec5400ab5b8bd2,0.0,0.000000e+00,0.000000e+00
0x000029c8bf6f0790f2bbc8afee6726e2b554a58e,0.0,0.000000e+00,0.000000e+00
0x000033476ea7769ad1078fedf92910086fd9c390,0.0,0.000000e+00,0.000000e+00

In [33]:
address_df['total_transactions'] = transaction_df['from_address'].value_counts()

In [34]:
address_df.head()

,min_value,max_value,mean_value,total_transactions
from_address,,,,
0x00000a94230f3a5cd61bb0a3b39767e0684f7234,0.0,1.450000e+19,7.250000e+18,2
0x0000106e912ae7bb1e72e9d8ff76f6252376a60e,0.0,0.000000e+00,0.000000e+00,1
0x0000265868335a145c58a3fb25ec5400ab5b8bd2,0.0,0.000000e+00,0.000000e+00,1
0x000029c8bf6f0790f2bbc8afee6726e2b554a58e,0.0,0.000000e+00,0.000000e+00,1
0x000033476ea7769ad1078fedf92910086fd9c390,0.0,0.000000e+00,0.000000e+00,1

In [35]:
address_df[['mean_trans_per_block', 'max_trans_per_block']] = transaction_df.groupby(['from_address', 'block_number']).size().reset_index(name='counts').groupby('from_address')['counts'].agg(['mean', 'max'])
address_df['num_blocks'] = transaction_df.groupby('from_address')['block_number'].nunique()
address_df['num_recipients'] = transaction_df.groupby('from_address')['to_address'].nunique()
address_df[['min_gas', 'max_gas', 'mean_gas']] = transaction_df.groupby('from_address')['gas'].agg(['min', 'max', 'mean'])
address_df[['min_gas_price', 'max_gas_price', 'mean_gas_price']] = transaction_df.groupby('from_address')['gas_price'].agg(['min', 'max', 'mean'])

In [36]:
address_df.sort_values(ascending=False, by='total_transactions').head(10)

,min_value,max_value,mean_value,total_transactions,mean_trans_per_block,max_trans_per_block,num_blocks,num_recipients,min_gas,max_gas,mean_gas,min_gas_price,max_gas_price,mean_gas_price
from_address,,,,,,,,,,,,,,
0x54c474fd5b203a70ec9e018a24fa8cf3d882a8c0,0.000000e+00,0.000000e+00,0.000000e+00,1093,23.760870,119,46,1,90000,90000,90000.000000,3000000000,3000000000,3.000000e+09
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,0.000000e+00,9.399313e+19,2.821491e+18,666,7.744186,44,86,402,21000,4008477,62053.963964,55000000000,55000000000,5.500000e+10
0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,0.000000e+00,1.899980e+20,1.675105e+18,564,7.520000,75,75,472,75000,250000,132048.510638,51000000000,51000000000,5.100000e+10
0xea674fdde714fd979de3edf0f56aa9716b898ec8,1.000011e+16,2.000540e+18,1.798771e+17,533,33.312500,248,16,526,50000,50000,50000.000000,1000000000,1000000000,1.000000e+09
0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5,5.000443e+16,1.133134e+18,1.474931e+17,104,9.454545,36,11,104,50000,50000,50000.000000,1000000000,1000000000,1.000000e+09
0x2b5634c42055806a59e9107ed44d43c426e58258,0.000000e+00,5.021262e+19,3.246121e+18,87,1.403226,3,62,65,72694,226724,93739.287356,20000000000,20000000000,2.000000e+10
0xb2930b35844a230f00e51431acae96fe543a0347,8.503080e+15,9.322170e+18,7.538876e+17,85,9.444444,34,9,85,100000,100000,100000.000000,40000000000,80000000000,7.105882e+10
0xb7bd981cac9f087177fe90fc4d6439d3f2782061,0.000000e+00,0.000000e+00,0.000000e+00,77,1.262295,4,61,1,300000,300000,300000.000000,20000000000,20000000000,2.000000e+10
0x390de26d772d2e2005c6d1d24afc902bae37a4bb,2.000000e+16,9.736212e+20,2.787841e+19,66,1.571429,12,42,65,31000,62000,31939.393939,51000000000,51000000000,5.100000e+10
0x05ee546c1a62f90d7acbffd6d846c9c54c7cf94c,0.000000e+00,2.145700e+19,1.328833e+18,63,1.145455,4,55,28,50000,200000,150000.000000,22000000000,22000000000,2.200000e+10